/* typography, basic elements,  components, combined components, layouts */

@import url('reset.css');
@import url('colors.css');

/* Set root level values and variables */
:root {
	color-scheme: light dark;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;

  }

@font-face {
	font-family: Roboto, sans-serif;
	src: local('Roboto'), url('fonts/Roboto/Roboto-Medium.ttf');
}

/* Body Tag */

body {
	display: grid;
	color-scheme: light;
	background-color: var(--page-color);
	line-height: 1.3em;
}

/* Basic Layout Elements */

header {
	text-align: center;
	background-color: light-dark(var(--primary-color), var(--primary-color-dark));
	color: var(--text-color-inverse);
}

main {
	color: var(--text-color);
	margin: 2rem auto;
	padding: 0 2em;
}

footer {
	background-color: light-dark(var(--primary-color), var(--primary-color-dark));
	color: var(--text-color-inverse);
	font-size: .8em;
	max-width: 100vw;
	padding: 1rem;
	div>p {
		margin: 0;
		padding: 0;
	}
}

/* Elements */

/* Image Elements */

figure {
	border: 1px solid #CCC; 
	border-radius: .5em;
	display: inline-grid;
	justify-content: center;
	margin: 1em;
	padding: 1em;
}

figcaption {
	display: inline-grid;
	font-weight: bold;
	justify-content: center;
	padding: .25em;
	text-align: center;
	width: 100%;
}

picture, img {
	display: inline-grid;
	justify-content: center;
	max-width: 100vw;
	max-height: 100vh;
	width: 100%;
}

hr {
	border: 1px solid var;
}


/* Elements: Headings */ 

h1, h2, h3, h4, h5, h6 {
	color: var(--primary-color-dark);
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-weight: 700;
	line-height: 1.5em;
	margin: .5em 0;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1.15em; }

hgroup {
	p{ font-size: 1.25em; } 
}

/* Elements: Block Text */

p {	margin: .5em 0; }

blockquote {
	background-color: light-dark(var(--primary-color-dark), var(--primary-color-light));
	border-radius: .25em;
	color: var(--text-color-inverse);
	margin: 0 1em 0 0;
	padding: .5em;
	float: inline-start;
	width: 20vw;
}

ul, ol, dl {
	margin: 1em 0;
	li, dt, dd{
		text-indent: 1em;
		list-style-position: inside;
	}
}

dl {
	dt { font-weight: bold; }
	dd { font-style: italic; }
}

menu {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
	position: relative;
	top: 1px;
	text-indent: 0;
	li {
		list-style-position: inside;
		list-style-type: none;
		text-indent: 0;
	}
}


/* Elements: Inline Text */

abbr:hover { text-decoration: dotted; } 

b, strong { font-weight: bold; }

i, em { font-style: italic; }

u, ins { text-decoration: underline; }

mark { background-color: var(--highlight); }

small { font-size: .75em; }

/* Elements: Tables */

table {
	border: 1px solid;
	border-color: light-dark(var(--primary-color-dark), var(--primary-color-light));
	margin: 0;
	thead {
		background-color: light-dark(var(--primary-color), var(--bg-color));
		color: light-dark(var(--bg-color), var(--primary-color));
		padding: .25em;
	}
	tfoot {
		background-color: light-dark(var(--primary-color), var(--bg-color));
		color: light-dark(var(--bg-color), var(--primary-color));
		padding: .25em;
	}
	th, td {
		border: 1px solid;
		border-color: light-dark(var(--primary-color), var(--bg-color));
		margin: 0;
		padding: .25em
	}
}

/* Layout */ 

header {
	nav {
		menu {
			display: flex;
			margin: 0;
			padding: 0;
			text-indent: 0;
			li {
				flex-grow: 1;
				list-style-position: inside;
				list-style-type: none;
				min-width: calc(100%/4); /* todo */
				text-indent: 0;
				a {
					color: light-dark(var(--bg-color), var(--primary-color));
					display: inline-block;
					padding: .5em;
					text-decoration: none;
					width: 100%;
				}
				a:hover {
					background-color: light-dark(var(--bg-color), var(--primary-color));
					color: light-dark(var(--primary-color), var(--bg-color));
				}
			}
		}
	}
}

/* Layouts for Desktop */

@media screen and (orientation: landscape) {
	article:has(aside) {
		column-count: 2;
		display: grid;
		aside {
			align-items: start;
			grid-column: 2;
			grid-row: 1;
			grid-row-end: 12; /* how can we make this automagic? */
			nav {
				background-color: light-dark(var(--primary-color-light), var(--primary-color-dark));
				border-radius: .3em;
				color: var(--bg-color);
				margin: 1em;
				padding: 1em;
				position: sticky;
				top: 1em;
			}
			menu>li>a{
				color: var(--bg-color);
				text-decoration: none;
			}
		}
		section {
			grid-column: 1;
			grid-auto-rows: auto;
		}
	}

	section[data-columns="3"] {
		display: grid;
		grid-column: 3;
		grid-row: 1;
		div {
			grid-area: 1;
			max-width: 33vw;
			padding: 0 1em 0 0 ;
		}
	}

}

/* Design */

section>h2{
	border-bottom: 1px solid var(--primary-color);
}