@import url('base.css');

/* Site Variables */
:root {
	--primary-color: hsl(305, 91%, 36%);
	--bg-color: #fff7fe;
	--text-color: black;
	--highlight: #ffffb8;
}

@keyframes rainbow{
	0%    { background-color: var(--primary-color); }
	12.5% { background-color: #eb1b83;}
	25%   { background-color: #ff5764}
	37.5% { background-color: #ff5764;}
	50%   { background-color: #ff904e;}
	62.5% { background-color: #ffc64e;}
	75%   { background-color: #ffc64e;}
	87.5% { background-color: #f9f871;}
	100%  { background-color: #f9f871;}
}


/* Header & Navigation */
body>header{
	display: grid;
	padding: 1em 0 0;
	text-align: center;
	h1 {
		color:var(--bg-color);
	}
	nav {
		ul {
			box-shadow: 0 .25em 5px #dfdfdf;
			li:hover {
				background-color:#f9f871;
				animation: .5s ease 0s 1 rainbow;
				a {
					color: #000 !important;
				}
			}
		}
	}
}

/* Main Section */
body>main {
	h2 {
		text-align: center;
	}
}

/* Footer */
body>footer{
	display: grid;
	column-count: 2;
	div {
		display: inline-grid;
		grid-area: 1;
		text-align: start;
	}
	div:last-child {
		text-align: end;
	}
}


/* Utility Classes */

.highlight {
	background-color: var(--highlight);
	font-weight: bold;
}

/* Section Specific IDs */

#resume {
	ul#summary {
		font-size: 1.15em;
		text-align: center;
	}

	ul {
		li{
			list-style-type: none;
		}
	}
}

#portfolio {
	.card {
		border: 1px solid #efefef;
		box-shadow: 0 0 1em #f8ebf7;
		border-radius: .25em;
		display: grid;
		grid-column: 2;
		grid-row: 3;
		margin: 1em 0;
		padding: 1em;
		h3 {
			font-size: 1.75rem;
			grid-column: 1;
			grid-column-end: 3;
			grid-row: 1;
		}
		h4 {
			font-size: 1.25rem;
			grid-column: 1;
			grid-column-end: 3;
			grid-row: 2;
			margin: .5em 0;

		}
	}
	img {
		border: 1px solid #666;
		margin: .5em .5em .5em 0;
		max-width: 33vw;
		max-height: 50vh;
		display: inline-grid;
		grid-column: 1;
		grid-row: 3;
	}
	p {
		grid-column: 2;
		grid-row: 3;
	}
}

#contact {
	form {
		display: grid;
		grid-column: 2;
		grid-row: 4;
		margin: 2em 0 0 0;
		min-height: 35vh;
		min-width: 80vw;
	}

	label {
		display: inline-grid;
		grid-column: 1;
		grid-area: 1;
		min-width: 10vw;
		vertical-align: top;
	}

	input {
		display: inline-grid;
		grid-column: 2;
		grid-area: 2;
		min-width: 80vw;
		min-height: 1.5rem;
	}

	textarea {
		display: inline-grid;
		grid-column: 2;
		min-width: 80vw;
		min-height: 10rem;
	}
}

